Package: decommission-tool
Version: [[version]]
Section: mygov
Priority: optional
Architecture: all
Description: [[description]]
Maintainer: tim.squires@scotland.gsi.gov.uk
Depends: java8-runtime-headless
