Package: decommission-tool
Version: [[version]]
Section: mygov
Priority: optional
Architecture: all
Description: Stores redirects for decommissioned sites.
Maintainer: martin.ellis@gov.scot
Depends: java11-runtime-headless
