[Unit]
Description=Decommission service
After=network.target

[Service]
User=decommission
SyslogIdentifier=decommission
WorkingDirectory=/opt/decommission-tool
EnvironmentFile=-/etc/default/decommission-tool
ExecStart=/opt/decommission-tool/run
Restart=on-failure
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
